<ul id="even">
    <% alphabet.forEach(function(char) { %>
        <li><a href="#page-<%- char %>" class="letterLink"><%= char %></a></li>
    <% }); %>
</ul>
<ul id="alphabetMobile">
    <% alphabet.forEach(function(char) { %>
        <li><a href="#page-<%- char %>" class="letterLink"><%= char %></a></li>
    <% }); %>
</ul>
<section>
    <% for(var property in group) { %>
        <div id="page-<%- property %>">
            <div class="letter"><%= property %></div>
            <div class="hr"></div>
            <% group[property].forEach(function(obj) { %>
                <div class="infoItem"><span><%= obj.name %></span> - <%- obj.copy %>
                    <% if (obj.link_samosebou.length > 0 > 0) { %>
                        <br><a href="<%- obj.link_samosebou %>" target="_blank">více</a>
                    <% } %>
                </div>
            <% }); %>
        </div>
        <br>
    <% } %>
</section>
