<div id="infoWindow">
    <h2>DETAIL MÍSTA</h2>
    <div id="infoWindowContainer">
        <ul>
        <% if (parameters.cluster.courtyard) { %>
            <li id="iwPlace">Sběrný dvůr</li>
        <% } else { %>
            <% if (parameters.cluster.glass) { %>
                <li id="iwGlass">Sklo</li>  
            <% } %>
            <% if (parameters.cluster.plastic) { %>
                <li id="iwPlastic">Plasty</li>
            <% } %>
            <% if (parameters.cluster.paper) { %>
                <li id="iwPaper">Papír</li>
            <% } %>
            <% if (parameters.cluster.drinkCarton) { %>
                <li id="iwDrinkCarton">Nápojové kartony</li>
            <% } %>
            <% if (parameters.cluster.metal) { %>
                <li id="iwMetal">Kovy</li>
            <% } %>
        <% } %>
        </ul>
    </div>
    <img src="/assets/direction.svg" onclick="direction(<%- parameters.location %>)">
    <h3 onclick="direction(<%- parameters.location %>)"><%= parameters.address %></h3>
    <hr>
    <p>Poslední aktualizace:<br><%= parameters.updated %></p>
</div>
