
// vars

$nav-width: 360px;
$nav-height: 120px;
$nav-mobile-height: 80px;
$nav-bg: #141213;
$nav-logo-height: 52px;
$nav-mobile-logo-height: 32px;
$nav-z-index: 120;

$panel-width: 360px;
$panel-bg: #414143;
$panel-z-index: 120;

$map-z-index: 100;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-laptop: 1280px;

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;

    // disable page scroll
    position: fixed;
    overflow: hidden;
}



//
// NAV
//

.nav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: $nav-z-index;
    width: $nav-width;
    height: $nav-height;
    background-color: $nav-bg;

    @media only screen and (max-width: $breakpoint-mobile) {
        width: 100%;
        height: $nav-mobile-height;
    }

    #{&}__logo{
        position: absolute;
        left: 36px;
        top: 36px;
        height: $nav-logo-height;

        @media only screen and (max-width: $breakpoint-mobile) {
            left: 22px;
            top: 24px;
            height: $nav-mobile-logo-height;
        }
    }

    #{&}__hamburger{
        display: none;
        position: absolute;
        right: 20px;
        top: 28px;
        height: 20px;
        cursor: pointer;

        @media only screen and (max-width: $breakpoint-mobile) {
            display: block;
        }
    }
}



//
// PANEL
//

.panel{
    position: fixed;
    left: 0;
    top: $nav-height; // offset
    z-index: $panel-z-index;
    width: $panel-width;
    height: calc(100% - #{$nav-height});
    background-color: $panel-bg;
    overflow: hidden;
    transition: (left 300ms ease-in-out, opacity 300ms ease-in-out);

    @media only screen and (max-width: $breakpoint-mobile) {
        opacity: 0; // hide panel
        left: -100%; // hide panel
        top: $nav-mobile-height; // offset
        width: 100vw;
        height: calc(100% - #{$nav-mobile-height});

        // show panel
        &#{&}--active{
            opacity: 1;
            left: 0;
        }
        &#{&}-height-auto{
            height: auto;
        }
    }

    #{&}__header{
        padding: 16px;
    }
    #{&}__content{
        height: calc(100% - 90px);
        padding: 16px;
        overflow-y: auto;
        overflow-x: none;
        -webkit-overflow-scrolling: touch;
    }

    #{&}__content::-webkit-scrollbar {
        width: 0.5em;
    }

    #{&}__content::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid darkgrey;
    }
}



//
// MAP
//

.map-wrapper{
    position: fixed;
    right: 0;
    top: 0;
    z-index: $map-z-index;
    width: calc(100vw - #{$panel-width});
    height: 100%;

    @media only screen and (max-width: $breakpoint-mobile) {
        top: $nav-mobile-height; // offset
        width: 100vw;
        height: calc(100% - #{$nav-mobile-height});
    }

    .map{
        width: 100%;
        height: 100%;
    }
}

//
// Cookies Consent
//

$cookies-color-white: #fff;
$cookies-color-dgreen: #409a00;
$cookies-color-lgreen: #6bb13a;
$cookies-color-bg: rgba(0, 0, 0, .75);
$cookies-z-index: 200;

.cookies-consent{
    position: fixed;
    left: calc(5vw + #{$panel-width});
    bottom: -100%;
    width: calc(90vw - #{$panel-width});
    min-height: 200px;
    background-color: $cookies-color-bg;
    z-index: $cookies-z-index;
    transition: (bottom 300ms ease-in-out, opacity 300ms ease-in-out);

    @media only screen and (max-width: $breakpoint-laptop) {
        width: 100%;
        max-height: 400px;
        left: 0;
        overflow-y: scroll;
    }

    &--active{
        bottom: 0;
    }

    // flex container
    &__body{
        display: flex;
        flex-flow: row wrap;
        padding: 2em;
    }

    // flex items
    &__col-100{
        width: 100%;
    }

    &__col-80{
        width: 80%;
    }
    
    &__col-20{
        width: 20%;
    }

    &__col-66{
        width: 66%;
    }

    &__col-50{
        width: 50%;
    }

    &__col-33{
        width: 33%;
    }

    &__col-25{
        width: 25%;
    }

    &__col-100,
    &__col-80,
    &__col-66,
    &__col-50,
    &__col-33,
    &__col-20,
    &__col-25{
        @media only screen and (max-width: $breakpoint-mobile) {
            width: 100%;
        }
    }

    .cookies-consent__col-split{
       p{
            column-count: 2;
            column-gap: 20px;
        }
    }

    &__title{
        color: $cookies-color-white;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__text{
        p{
            color: $cookies-color-white;
            font-size: 14px;
            line-height: 1.5;
            padding: 0 20px 20px 0;
        }
    }

    &__config{
        padding-top: 20px;
        label{
            color: $cookies-color-white;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
        }

        input{
            display: inline-block;
            position: relative;
            top: 2px;
            border: 2px solid $cookies-color-lgreen;
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 3px;
            outline: none;
            &:checked{
                background-color: $cookies-color-dgreen;
            }
        }

        p{
            color: $cookies-color-white;
            line-height: 1.5;
            font-size: 14px;
            padding: 0 20px 20px 0;
        }
    }

    &__bottom-line{
        color: $cookies-color-white;
        font-size: 14px;
        line-height: 1.5;
    }

    &__button-group{
        padding-top: 20px;
    }

    &__button{
        color: $cookies-color-white;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        background-color: $cookies-color-dgreen;
        border: 1px solid $cookies-color-lgreen;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px 12px 4px 12px;
        margin-bottom: 40px;
    }
}


// helper buttons
.cc-helper-buttons{
    position: absolute;
    right: 0;
    top: 0;
    z-index: $cookies-z-index;
    background-color: #fff;
}

#cc-general-button,
#cc-settings-button{
    border: 1px solid black;
    padding: 4px;
    cursor: pointer;
}

@media only screen and (max-width: $breakpoint-mobile) {
    .cookies-consent{
        z-index: 110;
    }
}