@font-face {
    font-family: Veneer;
    src: url('/fonts/VeneerClean-Soft.ttf');
}

html, body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.clearfix {
    clear: both;
}

.cookies-consent__title {
    font-family: Veneer;
    font-size: 29px;
    font-weight: normal;
    letter-spacing: 0.2rem;
    color: white;
}

.cookies-consent a {
    color: #6bb13a;
    text-decoration: none;
}

.cookies-consent a:hover {
    text-decoration: underline;
}

.cookies-consent p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
} 

.center {
    text-align: center;
}

.cookies-consent button {
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Veneer;
    font-weight: normal;
    letter-spacing: 0.1rem;
    font-size: 22px;
    padding: 0;
    border-radius: 6px;
    min-height: 40px;
}

.buttonCookiesFull {
    border: 2px solid #6BB03A;
    background-color: #32702F;
    color: white;
}

.buttonCookies {
    border: 2px solid #6BB03A;
    background-color: transparent;
    color: #6BB03A;
}

/* panels setup */

#panelSearch {
    display: none;
    margin: 0 5% 0 5%;
}

#panelFilter {
    display: none;
}

#panelFilter ul {
    margin: 10% 0 0 15%;
}

#panelInfo {
    display: none;
}

#panelUsers {
    display: none;
    margin-left: 15%;
    margin-right: 15%;
}

#panelAbout {
    display: none;
    margin-left: 15%;
    margin-right: 15%;
}

#panelLegal {
    display: none;
    margin-left: 5%;
    margin-right: 5%;
}

/* header */

.panel__header {
    display: none;
    margin: 0 0 0 14%;
    padding: 0;
    height: 30px;
    /* border: 1px solid white; */
}

.panel__headerTitle {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}

.panel__headerBack {
    background-image: url('../assets/arrow.svg');
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    float: right;
}

.panel__headerBack:hover {
    background-image: url('../assets/arrowon.svg');
    cursor: pointer;
}

.nav__logo {
    cursor: pointer;
}

#nav-hamburger:hover {
    color: #00FF00;
}

/* panel main menu */

#mainMenu {
    margin-top: 10%;
    margin-left: 15%;
}

#mainMenu .menuItem {
    margin-top: 15%;
}

#mainMenu .menuItem:first-child {
    margin-top: 0;
}

#mainMenu .menuItem p, #panelAbout a {
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

#mainMenu .menuItem:hover p, #panelAbout a:hover {
    color: #00FF00;
    cursor: pointer;
}

.title {
    font-family: Veneer;
    font-size: 29px;
    letter-spacing: 0.2rem;
    color: white;
    margin: 0;
    padding: 0;
}

#mainMenu .menuDesc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #b3b3b3;
    margin: 0;
    padding: 0;
    white-space: pre-line;
    line-height: 1.5em;
}

/* panelSearch */

#panelSearch p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #b3b3b3;
}

/* panel filter */

#panelFilter ul {
    list-style: none;
    padding: 0;
}

#panelFilter ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    margin: 0 0 15% 0;
    padding: 2px 0 0 45px;
    background-repeat: no-repeat;
}

#panelFilter ul li.active {
    color: #00FF00;
    cursor: pointer;
}

#panelFilter ul li.noActive {
    color: white;
    cursor: pointer;
}

#panelFilter ul li:nth-child(1) {
    background-image: url('../assets/sklo.svg');
    background-position: 4px;
}

#panelFilter ul li:nth-child(2) {
    background-image: url('../assets/plasty.svg');
    background-position: 4px;
}

#panelFilter ul li:nth-child(3) {
    background-image: url('../assets/papir.svg');
    background-position: 4px;
}

#panelFilter ul li:nth-child(4) {
    background-image: url('../assets/napojovekartony.svg');
    background-position: 4px;
}

#panelFilter ul li:nth-child(5) {
    background-image: url('../assets/kovy.svg');
    background-position: 4px;
}

#panelFilter ul li:nth-child(6) {
    background-image: url('../assets/sbernydvur.svg');
}

table {
    width: 100%;
    display: none;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

td.half {
    width: 50%;
}

td.image {
    width: 40px;
    text-align: center;
}

td.active {
    color: #00FF00;
    cursor: pointer;
}

td.noActive {
    color: white;
    cursor: pointer;
}

td img {
    height: 23px;
}

/* Panel info */

#panelInfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#panelInfo ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
}

#panelInfo li a {
    text-decoration: none;
    color: white;
}

#panelInfo li a:hover, .letterActive {
    color: #00FF00;
}

#panelInfo section {
    margin: 0 10px 30px 60px;
    /* overflow-y: scroll; */
    height: 100%;
    display: block;
}

#panelInfo section div {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
}

#panelInfo section div.letter {
    margin-top: 10px;
    font-size: 1.6em;
}

#even {
    position: absolute;
    top: 20px;
    left: 20px;
}

#odd {
    position: absolute;
    top: 80px;
    left: 60px;
}

section span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

.infoItem a {
    color: Aqua;
    text-decoration: none;
}

.hr {
    margin-top: 2px;
    margin-bottom: 10px;
    background-color: white;
    height: 1px;
}

.infoItem {
    margin: 0 0 10px 0;
    line-height: 1.4em;
}

/* panel users */

#panelUsers p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    line-height: 1.5;
}

#panelUsers a {
    display: block;
    margin: 20px 0 0 0;
    width: 200px;
}

/* panel about */

#panelAbout a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    display: block;
    text-decoration: none;
    margin: 1.3em 0;
}

#panelAbout a.mail {
    margin: 2px 0 25px 0;
}

#panelAbout h2 {
    font-family: Veneer;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0.2rem;
    color: white;
}

#panelAbout h3 {
    font-family: Veneer;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0.2rem;
    color: white;
    margin: 0 0 0 0;
}

#panelLegal h3 {
    font-family: Veneer;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0.2rem;
    color: white;
    margin: 15px 0 10px 0;
}

#panelAbout h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.2rem;
    color: white;
    margin: 0 0 5px 0;
}

#panelAbout p, #panelLegal p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    line-height: 1.5;
    margin-bottom: 0;
}

#panelAbout img {
    width: 60%;
}

#panelAbout ul, #panelLegal ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
}

#panelAbout ul li, #panelLegal ul li {
    margin: 0;
    padding: 10px 0 0 35px;
    background-image: url('../assets/facebook.svg');
    background-repeat: no-repeat;
}

#panelAbout ul li a {
    display: inline;
}

/* info window */

#infoWindow {
    width: 180px;
    margin: 0 0 0 10px;
}

#infoWindowContainer {
    margin: 0 0 25px 0;
    padding: 0;
}

#infoWindow h2 {
    font-family: Veneer;
    font-family: Veneer;
    font-size: 29px;
    letter-spacing: 0.2rem;
    font-weight: normal;
    color: #141213;
    margin: 0 0 10px 0;
    padding: 0;
}

#infoWindowContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#infoWindowContainer ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: black;
    margin: 15px 0 0 0;
    padding: 6px 0 0 35px;
    background-repeat: no-repeat;
}

#iwPaper {
    background-image: url('../assets/papir.svg');
}

#iwPlastic {
    background-image: url('../assets/plasty.svg');
}

#iwGlass {
    background-image: url('../assets/sklo.svg');
}

#iwDrinkCarton {
    background-image: url('../assets/napojovekartony.svg');
}

#iwMetal {
    background-image: url('../assets/kovy.svg');
}

#iwPlace {
    background-image: url('../assets/sbernydvurDetail.svg');
}

#infoWindow img {
    width: 45px;
    cursor: pointer;
}

#infoWindow h3 {
    color: #458CEB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

#infoWindow p {
    color: #458CEB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 1.5em;
}

#infoWindow hr {
    border-top: 1px solid #458CEB;
}

/* v-select */

.select-places .d-center {
    display: flex;
    align-items: center;
}

.v-select {
    background-color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif !important;
}

#version {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #b3b3b3;
    margin: 30px 0 0 15%;
}

#alphabetMobile {
    display: none;
}

#legal li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
}

#legal p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
}

#legal {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#legal ul {
    list-style: disc;
    margin: 0 0 30px 0;
    padding: 0;
}

#legal ul li {
    margin: 0;
    padding: 10px 0 0 5px;
    background-image: none;
}

#directions {
    display: none;
    position: absolute;
    width: 300px;
    padding: 15px;
    top: 50px;
    left: 7px;
    z-index: 999;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 0.8em;
    border-radius: 6px;
    -webkit-box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.3);
}

.buttonClose {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border: none;
    width: 24px;
    height: 24px;
    background-image: url('../assets/close.svg');
    background-size: cover;
    cursor: pointer;
}

#noMarkers {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    display: none;
    background-color: white;
    z-index: 999;
    border-radius: 8px;
    padding: 20px;
    -webkit-box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.3);
}

#noMarkers h2 {
    font-family: Veneer;
    font-size: 26px;
    letter-spacing: 0.1rem;
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}

#noMarkers p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}

.joinUs {
    background-color: #6BB03A;
    border: none;
    font-family: Veneer;
    font-size: 29px;
    letter-spacing: 0.2rem;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    display: flex; justify-content: center;
    border-radius: 16px;
}

button:focus {outline:0;}

@media screen and (max-width: 768px) {
    .title {
        text-align: center;
    }
    table {
        display: table;
    }
    #mainMenu {
        margin-top: 5%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    #mainMenu .menuItem {
        margin-top: 10%;
    }
    #mainMenu .menuDesc {
        text-align: center;
    }
    #version {
        text-align: center;
        margin-left: 0;
    }
    #panelFilter ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        margin: 0 5% 0 5%;
        display: none;
    }
    #panelFilter ul li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        color: white;
        padding: 2px 0 0 35px;
    }
    #odd {
        display: none;
    }
    #even {
        display: none;
    }

    #panelInfo section {
        margin: 0 20px 30px 20px;
        /* overflow-y: scroll; */
        height: 100%;
        display: block;
    }

    #panelInfo ul li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.6em;
        color: white;
        margin: 0 0 2px 0;
        padding: 0;
        text-align: center;
    }
    #alphabetMobile {
        position: absolute;
        display: block;
        bottom: 20px;
        right: 5px;
    }
}