@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamCond-Book.otf');
}

html, body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.buttons {
    width: 100%;
}

.buttons button {
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Gotham;
    font-size: 26px;
    padding: 0;
    border-radius: 6px;
    color: white;
}

.buttonNew {
    border: 2px solid #6BB03A;
    background-color: #32702F;

}

.buttonSave {
    border: 2px solid #6BB03A;
    background-color: #32702F;
}

.buttonDelete {
    border: 2px solid #666666;
    background-color: black;
}

.buttonCancel {
    border: 2px solid #808080;
    background-color: #666666;
}

.buttonHelp {
    background-color: white;
    border: 2px solid lightgrey;
    color: #141213 !important;
}

.buttonClose {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border: none;
    width: 24px;
    height: 24px;
    background-image: url('../assets/close.svg');
    background-size: cover;

}

button:focus {outline:0;}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-content {
    position: relative;
    /* top: 25%; */
    width: 40%;
    height: 50%;
    text-align: center;
    background-color: white;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlayHelp {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.overlayHelp-content {
    position: relative;
    width: 30%;
    height: 60%;
    text-align: left;
    background-color: white;
    margin: auto;
    top: 50%;
    padding: 30px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow-y: auto;
    overflow-x: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1em;
    line-height: 1.2em;
}

#user {
    height: 25px;
    float: left;
    padding-right: 10px;
}

#userInfo {
    height: 25px;
    float: left;
}

#loginLogo {
    background-color: #141213;
    height: 100px;
}

#loginLogo img {
    padding: 15px 0 15px 0;
    height: 70px;
}

.login-form {
    width: 300px;
    margin: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#loginBad {
    margin-top: 20px;
    display: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.login-form input[type="password"], .login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

#loginInfo {
    position: absolute;
    padding: 5px;
    top: 50px;
    left: 7px;
    z-index: 999;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1em;
    -webkit-box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.3);
}

#loginInfo a {
    color: black;
}

#panelWrapper {
    position: absolute;
    width: 350px;
    height: 10px;
    top: 7px;
    right: 7px;
    z-index: 999;
    background: transparent;
}

#center {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    display: none;
}

#center img {
    height: 100px;
    -webkit-transform: translate(0, -50%)
}

#address {
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
    display: none;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

#newMarkerButton {
    position: absolute;
    width: 300px;
    height: 55px;
    top: 90px;
    left: 7px;
    z-index: 998;
    background: transparent;
}

#panelSearch {
    width: 350px;
    height: 100px;
}

#markers {
    padding: 20px 20px 0 20px;
}

#markers p {
    font-family: Gotham;
    font-size: 22px;
    color: white;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
}

#detailMarker p {
    font-family: Gotham;
    font-size: 22px;
    color: white;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
}

#detailMarker img {
    float: right;
    height: 30px;
}

.clearfix {
    clear: both;
}

.menuItem:hover {
    color: #00FF00;
}

.menuItem {
    margin: 0px 0px 25px 0;
    cursor: pointer;
    width: 100%;
}

.menuItem img {
    float: right;
    height: 30px;
}

#marker {
    display: none;
    padding: 20px 20px 0 20px;
}

#newMarker {
    display: none;
    padding: 20px 20px 0 20px;
}

#marker ul, #newMarker ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 50px;
}

#newMarker ul {
    margin-top: 0;
}

#marker ul li, #newMarker ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin: 0 0 25px 0;
    padding: 2px 0 0 45px;
    background-repeat: no-repeat;
}

#marker ul li.active, #newMarker ul li.active {
    color: #00FF00;
    cursor: pointer;
}

#marker ul li.noActive, #newMarker ul li.noActive {
    color: white;
    cursor: pointer;
}

#marker ul li:nth-child(1), #newMarker ul li:nth-child(1) {
    background-image: url('../assets/sklo.svg');
    background-position: 4px;
}

#marker ul li:nth-child(2), #newMarker ul li:nth-child(2) {
    background-image: url('../assets/plasty.svg');
    background-position: 4px;
}

#marker ul li:nth-child(3), #newMarker ul li:nth-child(3) {
    background-image: url('../assets/papir.svg');
    background-position: 4px;
}

#marker ul li:nth-child(4), #newMarker ul li:nth-child(4) {
    background-image: url('../assets/napojovekartony.svg');
    background-position: 4px;
}

#marker ul li:nth-child(5), #newMarker ul li:nth-child(5) {
    background-image: url('../assets/kovy.svg');
    background-position: 4px;
}

#marker ul li:nth-child(6), #newMarker ul li:nth-child(6) {
    background-image: url('../assets/sbernydvur.svg');
}

/* v-select */

.select-places .d-center {
    display: flex;
    align-items: center;
}

.v-select {
    background-color: transparent;
    font-size: 1em;
}

.style-chooser .vs__search::placeholder, .style-chooser .vs__dropdown-toggle {
    background: white;
    border: none;
    color: gray;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif !important;
}

.style-chooser .vs__dropdown-menu {
    background: white;
    border: none;
    color: #394066;
    font-family: Arial, Helvetica, sans-serif !important;
}

#resetPassword {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    padding: 20px 0 20px 0;
  }

  #resetPassword a {
    color: black;
  }

  #resetPassword a:hover {
    text-decoration: none;
  }

@media screen and (max-width: 768px) {
    .overlay-content {
        width: 95%;
        height: 50%;
    }
    
    #loginLogo {
        height: 60px;
    }
    
    #loginLogo img {
        padding: 5px 0 5px 0;
        height: 50px;
    }
    
    #panelWrapper {
        position: absolute;
        left: 7px;
        height: 10px;
        top: 120px;
        z-index: 119;
        background: transparent;
    }

    .overlayHelp-content {
        width: 80%;
        height: 70%;
    }

    #loginInfo {
        top: 80px;
    }

    #newMarkerButton {
        top: 120px;
    }
    
}
