@font-face {
    font-family: Gotham;
    src: url('/fonts/GothamCond-Book.otf');
}

html, body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.buttons {
    width: 100%;
}

button:focus {outline:0;}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-content {
    position: relative;
    width: 40%;
    text-align: center;
    background-color: white;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 0 40px 0;
}

#loginLogo {
    background-color: #141213;
    height: 100px;
}

#loginLogo img {
    padding: 15px 0 15px 0;
    height: 70px;
}

.site-form {
    width: 300px;
    margin: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#responseOK {
    margin-top: 20px;
    display: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#responseBad {
    margin-top: 20px;
    display: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.site-form input[type="password"], .site-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.site-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}


#center {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    /* display: none; */
}

#center img {
    height: 100px;
    -webkit-transform: translate(0, -50%)
}

#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1001;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #confirmation {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    padding: 50px 0 0 0;
  }

  #confirmation a {
    color:black;
  }

  #confirmation a:hover {
    text-decoration: none;
  }

@media screen and (max-width: 768px) {
    .overlay-content {
        width: 95%;
        height: 50%;
    }
    
    #loginLogo {
        height: 60px;
    }
    
    #loginLogo img {
        padding: 5px 0 5px 0;
        height: 50px;
    }


    .overlayHelp-content {
        width: 80%;
        height: 70%;
    }

    
}
