html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: fixed;
  overflow: hidden;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 120;
  width: 360px;
  height: 120px;
  background-color: #141213;
}
@media only screen and (max-width: 768px) {
  .nav {
    width: 100%;
    height: 80px;
  }
}
.nav .nav__logo {
  position: absolute;
  left: 36px;
  top: 36px;
  height: 52px;
}
@media only screen and (max-width: 768px) {
  .nav .nav__logo {
    left: 22px;
    top: 24px;
    height: 32px;
  }
}
.nav .nav__hamburger {
  display: none;
  position: absolute;
  right: 20px;
  top: 28px;
  height: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .nav .nav__hamburger {
    display: block;
  }
}

.panel {
  position: fixed;
  left: 0;
  top: 120px;
  z-index: 120;
  width: 360px;
  height: calc(100% - 120px);
  background-color: #414143;
  overflow: hidden;
  transition: left 300ms ease-in-out, opacity 300ms ease-in-out;
}
@media only screen and (max-width: 768px) {
  .panel {
    opacity: 0;
    left: -100%;
    top: 80px;
    width: 100vw;
    height: calc(100% - 80px);
  }
  .panel.panel--active {
    opacity: 1;
    left: 0;
  }
  .panel.panel-height-auto {
    height: auto;
  }
}
.panel .panel__header {
  padding: 16px;
}
.panel .panel__content {
  height: calc(100% - 90px);
  padding: 16px;
  overflow-y: auto;
  overflow-x: none;
  -webkit-overflow-scrolling: touch;
}
.panel .panel__content::-webkit-scrollbar {
  width: 0.5em;
}
.panel .panel__content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid darkgrey;
}

.map-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: calc(100vw - 360px);
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .map-wrapper {
    top: 80px;
    width: 100vw;
    height: calc(100% - 80px);
  }
}
.map-wrapper .map {
  width: 100%;
  height: 100%;
}

.cookies-consent {
  position: fixed;
  left: calc(5vw + 360px);
  bottom: -100%;
  width: calc(90vw - 360px);
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 200;
  transition: bottom 300ms ease-in-out, opacity 300ms ease-in-out;
}
@media only screen and (max-width: 1280px) {
  .cookies-consent {
    width: 100%;
    max-height: 400px;
    left: 0;
    overflow-y: scroll;
  }
}
.cookies-consent--active {
  bottom: 0;
}
.cookies-consent__body {
  display: flex;
  flex-flow: row wrap;
  padding: 2em;
}
.cookies-consent__col-100 {
  width: 100%;
}
.cookies-consent__col-80 {
  width: 80%;
}
.cookies-consent__col-20 {
  width: 20%;
}
.cookies-consent__col-66 {
  width: 66%;
}
.cookies-consent__col-50 {
  width: 50%;
}
.cookies-consent__col-33 {
  width: 33%;
}
.cookies-consent__col-25 {
  width: 25%;
}
@media only screen and (max-width: 768px) {
  .cookies-consent__col-100, .cookies-consent__col-80, .cookies-consent__col-66, .cookies-consent__col-50, .cookies-consent__col-33, .cookies-consent__col-20, .cookies-consent__col-25 {
    width: 100%;
  }
}
.cookies-consent .cookies-consent__col-split p {
  column-count: 2;
  column-gap: 20px;
}
.cookies-consent__title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.cookies-consent__text p {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  padding: 0 20px 20px 0;
}
.cookies-consent__config {
  padding-top: 20px;
}
.cookies-consent__config label {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.cookies-consent__config input {
  display: inline-block;
  position: relative;
  top: 2px;
  border: 2px solid #6bb13a;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  outline: none;
}
.cookies-consent__config input:checked {
  background-color: #409a00;
}
.cookies-consent__config p {
  color: #fff;
  line-height: 1.5;
  font-size: 14px;
  padding: 0 20px 20px 0;
}
.cookies-consent__bottom-line {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}
.cookies-consent__button-group {
  padding-top: 20px;
}
.cookies-consent__button {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #409a00;
  border: 1px solid #6bb13a;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px 4px 12px;
  margin-bottom: 40px;
}

.cc-helper-buttons {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
  background-color: #fff;
}

#cc-general-button,
#cc-settings-button {
  border: 1px solid black;
  padding: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .cookies-consent {
    z-index: 110;
  }
}

/*# sourceMappingURL=layout.css.map */
