<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="all" href="/css/normalize.css">
    <link rel="stylesheet" media="all" href="/css/layout.css?v5">
    <link rel="stylesheet" media="all" href="/css/contentAdmin.css?v5">
    <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
    <title>Kam třídit - administrace</title>
</head>

<body>
    <!-- Search -->
    <div id="app">
    <div id="panelWrapper">
        <div id="panelSearch">
            <v-select 
            class="style-chooser" 
            label="description" 
            placeholder="Zadejte adresu" 
            :filterable="false" 
            :options="options"
            @search="onSearch" 
            @input="onInput">
                <template v-slot:prepend>
                    <v-icon color="red">edit</v-icon>
                </template> 
                <template slot="no-options">
                    můžete psát i název obce, čtvrť, ulici...
                </template>
                <template slot="option" slot-scope="option">
                    <div class="d-center">
                        {{ option.description }}
                    </div>
                </template>
                <template slot="selected-option" slot-scope="option">
                    <div class="selected d-center">
                        {{ option.description }}
                    </div>
                </template>
            </v-select>
        </div>
    </div>

    <div class="nav" id="nav">
        <img src="assets/logo.svg" class="nav__logo" alt="Logo kamtridit.cz" @click="processBack()">
        <img src="assets/hamburger.svg" class="nav__hamburger" id="nav-hamburger" alt="Menu" @click="burger()">
    </div>

    <div class="panel" id="panel">

        <div class="panel__content">

            <!-- Markers list -->
            <div id="markers">
                <div class="menuItem" v-for="marker in markers" @mouseover="overMarker(this.event, marker)" @mouseleave="outMarker(this.event)" @click="selectMarker(marker)">
                    <p class="title">{{ marker.position.name }}, {{ marker.position.city }}</p>
                    <template v-if="marker.isHidden">
                        <img src="assets/pinGray.svg">
                    </template>
                    <template v-if="!marker.isHidden">
                    <template v-if="marker.isVerified">
                        <img src="assets/pin.svg">
                    </template>
                    <template v-if="!marker.isVerified">
                        <img src="assets/pinRed.svg">
                    </template>
                    </template>
                    <div class="clearfix"></div>
                </div>
            </div>

            <!-- Marker -->
            <div id="marker">
                <div id="detailMarker"></div>
                <ul>
                    <li v-for="option in options" v-bind:class="[option.isActive ? 'active' : 'noActive']"
                        @click="selectFilter(option, options)">{{ option.title }}</li>
                </ul>
                <div class="buttons">
                    <button class="buttonSave" onclick = "editMarker()">Uložit</button>
                    <button class="buttonDelete" onclick = "deleteMarker()">Odstranit</button>
                    <button class="buttonCancel" onclick = "cancelEdit()">Zrušit</button>
                </div>
            </div>

             <!-- Marker -->
             <div id="newMarker">
                <ul>
                    <li v-for="option in options" v-bind:class="[option.isActive ? 'active' : 'noActive']"
                        @click="selectFilter(option, options)">{{ option.title }}</li>
                </ul>
                <div class="buttons">
                    <button class="buttonSave" onclick = "saveMarker()">Uložit</button>
                    <button class="buttonCancel" onclick = "cancel()">Zrušit</button>
                </div>
            </div>

        </div>
    </div>

    <div class="map-wrapper">
        <div id="map" class="map"></div>
        <div id="address"></div>
        <div id="center"></div>
        <div id="newMarkerButton" class="buttons">
            <button class="buttonNew" onclick = "newMarker()">Přidat sběrné místo +</button>
            <button class="buttonHelp" onclick = "help()">Návod</button>
        </div>
        <div id="loginInfo">
            <img src="assets/user.svg" id="user">
            <div id="userInfo">
                <strong>{{ user }}</strong> <a href="#" onclick="logout();return false;">Odhlásit se.</a>
            </div>
        </div>
    </div>

    <div class="overlay">
        <div class="overlay-content">
            <div id="loginLogo">
                <img src="assets/logo.svg" class="nav__logo" alt="Logo kamtridit.cz">
            </div>
            <div class="login-form">
                <form id="loginForm" action="api/auth/login" method="post" onsubmit="return false">
                    <input type="text" name="username" placeholder="E-mail" required>
                    <input type="password" name="password" placeholder="Heslo" required>
                    <input type="submit" value="Přihlásit se">
                </form>
            </div>
            <div id="resetPassword"><a href="/password">Zapomenuté heslo</a></div>
            <div id="loginBad">
            </div>
        </div>
    </div>

    <div class="overlayHelp">
        <div class="overlayHelp-content">
            <button class="buttonClose" onclick = "closeHelp()"></button>
            <h3>Rozhraní pro úpravy online mapy sběrných míst</h3>
            <p>Toto rozhraní je administrátorským nástrojem, který slouží k zanášení pozic sběrných míst na online mapě.</p>
            <p>Jako administrátor můžete taktéž provádět úpravy chybných označení sběrných míst a jejich obsahu na základě svého pozorování nebo nahlášení chyby občany a jejich následné kontrole. </p>
            <p><strong>Co vidím?</strong><br>
                Levý panel zobrazuje sběrná místa, která jsou zobrazena v aktuálním zvoleném výběru detailu mapy. </p>
            <p><strong>Co mi říkají barvy?</strong><br>
                Zelené symboly míst jsou ty, které byly potvrzeny, červené čekají na potvrzení 
                a šedivé jsou ty, které byly odstraněny.</p>
            <p><strong>Jak přidávat?</strong><br>
                Po stlačení buttonu “přidat nové místo” se aktuální seznam zobrazených kontejnerů změní na panel umožňující zanášení sběrných míst. Při každém přidávání sběrných míst prosím dbejte na co nejpřesnější zanesení místa a sestavy kontejnerů.</p>
            <p><strong>Pomoc</strong><br>
                Nevíte si rady, zasekli jste se? Napište email na <a href="mailto:info@kamtridit.cz">info@kamtridit.cz.</a></p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/history.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.41&key=AIzaSyDy9oVwZda-37mV6WVGJ1qdVD8erpOftE8&callback=initMap&language=cs"></script>

</body>

</html>

<script>
    Vue.component("v-select", VueSelect.VueSelect)
    Vue.prototype.$global = this

    const vueNav = new Vue({
        el: '#nav',
        data: {
            flag: false
        },
        methods: {
            burger: () => {
                let panel = document.getElementById('panel');
                let navHamburger = document.getElementById('nav-hamburger');
                panel.classList.toggle('panel--active');
            }
        }
    });

    const vueMarkers = new Vue({
        el: '#markers',
        data: {
            markers: []
        },
        methods: {
            overMarker: (e, marker) => {
                this.animateMarker(marker)
            },
            outMarker: (e) => {
                this.deAnimateMarker()
            },
            selectMarker: (marker) => {
                this.selectMarker(marker)
            }
        }
    })

    const vuePanelSearch = new Vue({
        el: "#panelSearch",
        data: {
            options: []
        },
        methods: {
            onInput(input) {
                fetch(`maps/search/${escape(input.place_id)}`)
                    .then(res => res.json().then(json => (this.$global.findPlace(json))))

                let panel = this.$global.document.getElementById('panel');
                let navHamburger = this.$global.document.getElementById('nav-hamburger');
                panel.classList.toggle('panel--active');
            },
            onSearch(search, loading) {
                if (search.length < 3) {
                    return
                }
                loading(true);
                this.search(loading, search, this);
            },
            search: _.debounce((loading, search, vm) => {
                fetch(
                    `maps/search?q=${encodeURIComponent(search)}`
                ).then(res => res.json().then(json => (vm.options = json)));
                loading(false);
            }, 350)
        }
    });

    const vueMarker = new Vue({
        el: '#marker',
        data: {
            options: [
                {
                    title: 'sklo',
                    isActive: false,
                    index: 0
                },
                {
                    title: 'plasty',
                    isActive: false,
                    index: 1
                },
                {
                    title: 'papír',
                    isActive: false,
                    index: 2
                },
                {
                    title: 'nápojové kartony',
                    isActive: false,
                    index: 3
                }, {
                    title: 'kovy',
                    isActive: false,
                    index: 4
                },
                {
                    title: 'sběrný dvůr',
                    isActive: false,
                    index: 5
                }
            ]
        },
        methods: {
            selectFilter: (option, options) => {
                if (options[5].isActive && option.index < 5) {
                    return
                }
                if (option.index == 5) {
                    const isActive = !option.isActive
                    _.forEach(options, opt => {
                        opt.isActive = isActive
                    })
                } else {
                    option.isActive = !option.isActive
                }
                this.setMarkers(option.index, option.isActive)
            }
        }
    })

    const vueNewMarker = new Vue({
        el: '#newMarker',
        data: {
            options: [
                {
                    title: 'sklo',
                    isActive: false,
                    index: 0
                },
                {
                    title: 'plasty',
                    isActive: false,
                    index: 1
                },
                {
                    title: 'papír',
                    isActive: false,
                    index: 2
                },
                {
                    title: 'nápojové kartony',
                    isActive: false,
                    index: 3
                }, {
                    title: 'kovy',
                    isActive: false,
                    index: 4
                },
                {
                    title: 'sběrný dvůr',
                    isActive: false,
                    index: 5
                }
            ]
        },
        methods: {
            selectFilter: (option, options) => {
                if (options[5].isActive && option.index < 5) {
                    return
                }
                if (option.index == 5) {
                    const isActive = !option.isActive
                    _.forEach(options, opt => {
                        opt.isActive = isActive
                    })
                } else {
                    option.isActive = !option.isActive
                }
                this.setMarkers(option.index, option.isActive)
            }
        }
    })

    const vueUser = new Vue({
        el: '#loginInfo',
        data: {
            user: cookieName('user')
        }
    })
</script>