<h1 id="changelog">Changelog</h1>
<p>All notable changes to this project will be documented in this file.</p>
<p>The format is based on <a href="https://keepachangelog.com/en/1.0.0/">Keep a Changelog</a>,
and this project adheres to <a href="https://semver.org/spec/v2.0.0.html">Semantic Versioning</a>.</p>
<h2 id="030-31072020">[0.3.0] 31.07.2020</h2>
<h3 id="changed">Changed</h3>
<ul>
<li>Mapa jako prvni polohu ukaze rovnou polohu uzivatele a ne centrum Prahy.
Centrum Prahy ukaze teprve, kdyz uzivatel nepovoli geolokaci.</li>
</ul>
<h2 id="020-29072020">[0.2.0] 29.07.2020</h2>
<h3 id="added">Added</h3>
<ul>
<li>Clusterovani geodat na serveru pomoci geohashes.</li>
<li>Cachovani clusteru a markeru v browseru pro lepsi uzivatelsky zazitek.</li>
<li>Provozni podminky do sekce &quot;O nas&quot;.</li>
</ul>
<h3 id="fixed">Fixed</h3>
<ul>
<li>Opravena rozbita hlavicka v mobilni verzi (portrait mod) na tabletech.</li>
<li>Search autocomplete komponenta (hledani kontejneru) opraveny font, nyni odpovida stylu aplikace.</li>
<li>V desktop i mobilni verzi overeno nastaveni, ze se neobjevi scroll, pokud neni treba.</li>
<li>Oprava centrovani markeru na center point, takze pri zoomu se neposouvaji.</li>
<li>Oprava sedeho ohraniceni (scrolly - jen nektere browsery).</li>
<li>Opraven nadpis v detailu mista - srovnan s menu.</li>
<li>Pres shluk se nyni uzivatel proklikne na detailnejsi zoom.</li>
<li>Preformatovana sekce &quot;O nas&quot; podle grafickeho vzoru.</li>
</ul>
<h3 id="changed-1">Changed</h3>
<ul>
<li>Filtrovani - prepsany princip podle pozadavku klienta. 
Nyni jsou aktivni vsechny markery, pokud splnuji aspon jedno filtrovaci kriterium.</li>
<li>Ikona s lokaci uzivatele se ted animuje / pulzuje, takze je na mape snadno identifikovatelna.</li>
<li>Kam patri - pro mobily mala abeceda a la iOS.</li>
<li>Kam patri - na mobilni verzi nezmizi nadpis a tlacitko zpet.</li>
<li>Kam patri - zmeneno prolinkovani - nyni se pouzije odkaz &quot;samosebou&quot; v pripade, ze existuje.</li>
<li>Zmenen text ve vyhledavani a pridan text u vyhledavani do menu.</li>
</ul>
<h2 id="011-23072020">[0.1.1] 23.07.2020</h2>
<h3 id="added-1">Added</h3>
<ul>
<li>Pridana sekce KAM PATRI.</li>
<li>Pridan Changelog + cislo verze do navigacniho panelu.</li>
</ul>
<h3 id="fixed-1">Fixed</h3>
<ul>
<li>Typo v detailu sberneho mista (kratke i ve slove papir).</li>
<li>Datum v detailu sberneho mista predelany na cesky format (den, mesic, rok).<br>Den a mesic v &quot;kratkem formatu&quot; bez leading zero.</li>
<li>Opravena pozice titulky pro kazdy panel v desktop i mobilni verzi.</li>
</ul>
<h3 id="changed-2">Changed</h3>
<ul>
<li>V mobilnim webu zkracen panel &quot;Filtrovani&quot; tak, aby byla videt pod panelem mapa.<br>Samotne moznosti filtrovani jsou pak v mobile webu ve dvou sloupcich.</li>
<li>Google places - hledani sberneho mista -  uprava query:<ol>
<li>hleda ted i cela mesta nebo obce</li>
<li>preferuje ceske lokace</li>
</ol>
</li>
</ul>
<h2 id="010-21072020">[0.1.0] 21.07.2020</h2>
<h3 id="prvni-verze-projektu">Prvni verze projektu</h3>
<!-- ### Added
### Fixed
### Changed
### Deprecated
### Removed
### Security -->