<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="all" href="/css/normalize.css">
    <link rel="stylesheet" media="all" href="/css/layout.css?v5">
    <link rel="stylesheet" media="all" href="/css/content.css?v5">
    <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
    <title>Kam třídit</title>
</head>

<body>

    <div class="nav" id="nav">
        <img src="assets/logo.svg" class="nav__logo" alt="Logo kamtridit.cz" @click="processBack()">
        <img src="assets/hamburger.svg" class="nav__hamburger" id="nav-hamburger" alt="Menu" @click="burger()">
    </div>

    <div class="panel" id="panel">
        <div class="panel__header" id="header" @click="processBack()">
            <div class="panel__headerTitle title"></div>
            <div class="panel__headerBack"></div>
            <div class="clearfix"></div>
        </div>

        <div class="panel__content">

            <!-- Menu -->
            <div id="mainMenu" v-cloak>
                <div class="menuItem" v-for="option in options" @click="processSelection(this.event, option)">
                    <p class="title">{{ option.text }}</p>
                    <p class="menuDesc">{{ option.desc }}</p>
                </div>
            </div>

            <!-- Search -->
            <div id="panelSearch">
                <p>vyhledat nejbližší sběrné místo pro zadanou adresu</p>
                <v-select class="select-places" label="description" :filterable="false" :options="options"
                    @search="onSearch" @input="onInput">
                    <template slot="no-options">
                        zadejte adresu
                    </template>
                    <template slot="option" slot-scope="option">
                        <div class="d-center">
                            {{ option.description }}
                        </div>
                    </template>
                    <template slot="selected-option" slot-scope="option">
                        <div class="selected d-center">
                            {{ option.description }}
                        </div>
                    </template>
                </v-select>
            </div>

            <!-- Filter -->
            <div id="panelFilter">
                <ul>
                    <li v-for="option in options" v-bind:class="[option.isActive ? 'active' : 'noActive']"
                        @click="selectFilter(option)">{{ option.title }}</li>
                </ul>
                <table id="tbFilter">
                    <tr>
                        <td class="half">
                            <table>
                                <tbody v-for="option in options.slice(0, 3)" v-on:click="selectFilter(option)">
                                    <tr>
                                        <td class="image"><img :src="option.img"></td>
                                        <td v-bind:class="[option.isActive ? 'active' : 'noActive']">{{ option.title }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="half">
                            <table>
                                <tbody v-for="option in options.slice(3, 6)" v-on:click="selectFilter(option)">
                                    <tr>
                                        <td class="image"><img :src="option.img"></td>
                                        <td v-bind:class="[option.isActive ? 'active' : 'noActive']">{{ option.title }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- What where -->
            <div id="panelInfo" v-html="content">
            </div>

            <!-- For users -->
            <div id="panelUsers">
                <p>Objevili jste kontejnery na tříděný
                    odpad nebo sběrný dvůr, které nejsou na mapě vyznačené nebo jsou zobrazené na nesprávném místě?
                    Pomozte nám je lokalizovat.</p>
                <p><i>Děkujeme!</i></p>
                <p>Zapojit se můžete prostřednictvím aplikace, která je ke stažení zde:</p>
                <br />
                <a href=""><img src="/assets/googleplay.svg" /></a>
                <a href=""><img src="/assets/appstore.svg" /></a>
            </div>

            <!-- About -->
            <div id="panelAbout">
                <p>Projekt kamtřídit.cz je jedinečnou interaktivní mapou s cílem zaznamenat všechny barevné kontejnery
                    na tříděný odpad a sběrné dvory na území ČR. Navíc zde najdete také užitečný návod kam třídit
                    jednotlivé druhy domácího odpadu.</p>
                    <br>
                <a href="/admin" target="_blank">Autorizovaný přístup</a>
                <br>
                <h3>KONTAKT</h3>
                <br>
                <a href="mailto://kamtridit.cz" class="mail">info@kamtridit.cz</a>
                <br>
                <ul>
                    <li><a href="https://www.facebook.com/MaToSmyslTridimOdpad" target="_blank">MaToSmyslTridimOdpad</a>
                    </li>
                </ul>
                <p>copyright ©</p>
                <br>
                <img src="/assets/logoekokom.svg" alt="Logo Ekokom" />
                <br>
                <a href="https://ekokom.cz" target="_blank">ekokom.cz</a>
                <a href="https://jaktridit.cz" target="_blank">jaktridit.cz</a>
                <a href="https://samosebou.cz" target="_blank">samosebou.cz</a>
                <br>
                <a href="#" onclick="legal();return false;">Ochrana osobních údajů</a>
                <br>
            </div>

            <!-- Legal -->
            <div id="panelLegal">
                <!-- <h2>PROVOZNÍ PODMÍNKY</h2> -->
                <div id="legal">
                    <h3>ZÁSADY OCHRANY OSOBNÍCH ÚDAJŮ</h3>

                    <p>Tyto zásady ochrany osobních údajů stanoví, jakým způsobem používáme a chráníme vaše
                        osobní údaje,
                        které jsou nám předávány používáním této webové stránky www.kamtridit.cz (dále jen
                        "Webová stránka").</p>

                    <p>Správcem osobních údajů je společnost EKO-KOM, a.s., se sídlem Praha 4, Na Pankráci
                        1685/17, IČ 251 34 701,
                        spisová značka B 4763 vedená u Městského soudu v Praze (dále jako "EKO-KOM").
                        EKO-KOM se zavazuje zajistit bezpečí vašich osobních údajů.
                        Veškeré vaše osobní údaje mohou být použity pouze v souladu s těmito zásadami ochrany
                        osobních údajů.
                        EKO-KOM je oprávněna tyto zásady ochrany osobních údajů čas od času změnit jejich
                        aktualizací na Webové stránce.</p>

                    <h3>Co shromažĎujeme</h3>
                    <p>Správce shromažďuje a zpracovává následující osobní údaje:</p>
                    <ul>
                        <li>v případě, rozhodnete-li se účastnit soutěže prostřednictvím Webové stránky jako
                            soutěžící,
                            zpracovává EKO-KOM vaše osobní údaje v následujícím rozsahu: jméno a příjmení,
                            e-mail,
                            poštovní adresa pro doručení výhry a příp. telefonní číslo, údaje o výhře,
                            případné fotografie a audiovizuální záznamy pořízené EKO-KOM v souvislosti s výhrou
                            v soutěži
                            nebo Vámi předané EKO-KOM v souvislosti s účastí v soutěži;</li>
                        <li>záznamy o korespondenci (v případě kontaktu ze strany subjektu údajů);</li>
                        <li>informace poskytnuté v jakémkoli poli "volný text" na Webové stránce (tj. prázdná
                            místa, kam můžete libovolně vkládat komentáře).</li>
                    </ul>
                    <h3>K jakému účelu osobní údaje zpracováváme</h3>
                    <ul>
                        <li> vaše osobní data využijeme pouze k účelům, pro které jste nám je poskytli (zejména pro
                            umožnění vaší účasti v soutěžích a čerpání výher, umožnění vkládání příspěvků do
                            soutěží, hlasování v soutěžích);</li>
                        <li> v případě, máme-li k tomu od vás odpovídající souhlas, využíváme vaše kontaktní údaje k
                            (e-mail/telefonní číslo) k zasílání marketingových sdělení o produktech a službách, tak
                            jak je blíže popsáno v sekci Přímý marketing (těchto zásad);</li>
                        <li> pro ochranu našich oprávněných zájmům (zejména pro zamezení podvodným jednáním, ve
                            snaze předcházet a zabránit porušení našich podmínek, pro účely vymáhání případných
                            pohledávek a k zajištění ochrany našich zákonných práv);</li>
                        <li> vaše kontaktní údaje můžeme dále využívat pro zajištění naší vzájemné komunikace a pro
                            účely umožnění výkonu vašich práv v souvislosti s ochranou osobních údajů;</li>
                        <li> pro další specifické účely, pro které jste nám udělili souhlas.</li>
                        <li> Doba uchování osobních údajů je vázána na existenci souhlasu nebo trvání obchodní
                            činnosti správce (v některých případech na dobu trvání soutěže nebo marketinkové akce).
                        </li>
                    </ul>
                    <h3>Technická data k návštěvě Webové stránky</h3>
                    <p>Webové stránky využívají službu Google Analytics, poskytovanou společností Google,
                        Inc. (dále jen "Google"). Služba Google Analytics používá souborů "cookies", které
                        jsou textovými soubory ukládanými do vašeho počítače, umožňujícími analýzu způsobu
                        užívání této stránky jejími uživateli. Informace vygenerované souborem cookie o
                        užívání stránky (včetně vaší IP adresy) budou společností Google přeneseny a uloženy
                        na serverech ve Spojených státech.</p>
                    <p>Google bude užívat tyto informace pro účely vyhodnocování užívání stránky a vytváření
                        zpráv o její aktivitě, určených pro její provozovatele, a pro poskytování dalších
                        služeb týkajících se činností na stránce a užívání internetu vůbec. Google může také
                        poskytnout tyto informace třetím osobám, bude-li to požadováno zákonem nebo budou-li
                        takovéto třetí osoby zpracovávat tyto informace pro Google. Google nebude spojovat
                        vaši IP adresu s jakýmikoli jinými daty, která má k dispozici. Můžete odmítnout
                        používání souborů cookies volbou v příslušném nastavení ve vašem prohlížeči, avšak
                        uvědomte si, že jestliže tak učiníte, nebudete schopni plně využívat veškeré funkce
                        této stránky. Používáním této stránky souhlasíte se zpracováváním údajů o vás
                        společností Google, a to způsobem a k účelům shora uvedeným.</p>
                    <ul>
                        <li> Detailní informace o Google Analytics a ochraně osobních údajů naleznete na
                            http://www.google.com/intl/cs/privacy/privacy-policy.html.</li>
                        <li> Pokud chcete zabránit sledování, můžete instalovat doplněk do vašeho webového
                            prohlížeče (http://tools.google.com/dlpage/gaoptout).</li>
                    </ul>
                    <p>Webová stránka obsahuje záložky sociálních sítí (např. Facebook a Instagram).
                        "Záložky sociálních sítí" jsou internetové záložky, pomocí nichž mohou uživatelé
                        těchto sítí shromažďovat odkazy a novinky. Tyto záložky jsou na našem webu umístěny
                        pouze jako odkazy na odpovídající sociální sítě. Na stránky daného poskytovatele
                        služeb budete přesměrováni, pouze pokud kliknete na grafický prvek sítě - teprve
                        tehdy získá poskytovatel služby uživatelské informace. Informace týkající se
                        zacházení s vašimi osobními daty při používání stránek se záložkami sociálních sítí
                        můžete nalézt v následujícím prohlášení o nakládání s osobními daty. Použití těchto
                        služeb mimo rozsah naší nabídky se řídí výhradně prohlášením o nakládání s osobními
                        daty daného poskytovatele služby.</p>
                    <p>Webová stránka může obsahovat odkazy na jiné webové stránky. Pokud však takový odkaz
                        použijete a naši Webovou stránku opustíte, měli byste si uvědomit, že nad těmito
                        jinými webovými stránkami nemáme žádnou kontrolu. Nemůžeme proto zodpovídat za
                        ochranu a soukromí jakýchkoli informací, které poskytnete při navštívení takových
                        stránek, a na takové stránky se nevztahují tyto zásady ochrany osobních údajů.</p>

                    <h3>Přímý marketing</h3>
                    <p>Pokud si přejete odebírat některý z našich zpravodajů, budeme od vás potřebovat vaši
                        platnou e-mailovou adresu a informace, které nám umožní ověřit si, že jste majitelem
                        uvedené e-mailové adresy a souhlasíte s odběrem zpravodaje. Tato data nebudou
                        poskytnuta třetím stranám. Při registraci k odběru zpravodaje uložíme kromě vaší
                        e-mailové adresy i vaši IP adresu a datum a čas registrace. Uložení těchto dat
                        slouží pouze jako důkaz v případě, že třetí strana zneužije vaši e-mailovou adresu a
                        registruje se k odběru zpravodaje bez vašeho vědomí. Svůj předchozí souhlas s
                        uložením těchto dat a vaší e-mailové adresy a jejich použitím k zasílání zpravodaje
                        můžete kdykoli odvolat. Odvolání může být provedeno pomocí odkazu ve zpravodaji nebo
                        zasláním odvolání na kontakty uvedené ve zpravodaji nebo níže v tomto dokumentu.</p>

                    <h3>Kde ukládáme vaše osobní údaje</h3>
                    <p>Vaše osobní údaje jsou uchovávány na našich zabezpečených serverech v našich IT
                        systémech v České republice. Osobní údaje jsou shromažďovány, zpracovávány a
                        uchovávány výhradně na území České republiky a nedochází ani nebude docházet k
                        jejich předávání do jiných států.</p>

                    <h3>Bezpečnost</h3>
                    <p>Zavazujeme se zajistit bezpečnost vašich osobních údajů. Abychom zabránili
                        neoprávněnému přístupu k nim nebo jejich neoprávněnému zveřejnění, zavedli jsme
                        vhodné fyzické, elektronické a manažerské postupy pro ochranu a zabezpečení
                        informací, které na Webové stránce shromažďujeme. Berete na vědomí, že vaše osobní
                        údaje, které nám poskytnete, budou spravovány systematicky automatickým způsobem za
                        použití automatických a veškerých dalších nástrojů informačního systému.</p>

                    <h3>Poskytování vašich osobních údajů</h3>
                    <p>Osobní údaje budou pro EKO-KOM zpracovávány zpracovatelem, společností HAVAS
                        WORLDWIDE PRAGUE, a.s., se sídlem Praha 7, Letenské sady č.p. 1500 (EXPO 58), PSČ
                        17000, IČ 630 79 054, spisová značka B 3138 vedená u Městského soudu v Praze, tel.
                        +420220397600, e-mail:recepce@havas.com.
                        V případě vaší výhry v soutěži mohou být vaše kontaktní údaje předány poskytovateli
                        kurýrní či přepravní služby za účelem doručení výhry v soutěži a vaše jméno a
                        příjmení budou zveřejněny na Webové stránce v souvislosti se zveřejněním informací o
                        výhrách. Při předávání ceny mohou být pořízeny fotografie či audiovizuální záznamy,
                        které budou zveřejněny ve vybraných médiích, případně šířeny jiným obvyklým
                        způsobem.
                        Dále mohou být při fotosoutěžích zveřejněny fotografie, které do soutěže poskytnete.
                    </p>
                    <p>Ostatní osobní údaje nebudou dalším osobám zpřístupněny s výjimkou případů, kdy
                        zpřístupnění představuje povinnost stanovenou zákonem (např. orgány činné v trestním
                        řízení, soudy) nebo jsou osobní údaje zpřístupněny z důvodu ochrany práv správce
                        osobám, které jsou ze zákona vázány mlčenlivostí.</p>

                    <h3>Práva subjektů údajů</h3>
                    <p>Při shromažďování, zpracovávání a uchovávání vašich osobních údajů dbáme v plném
                        rozsahu ochrany vašich práv tak, jak vyplývají z příslušných ustanovení právních
                        předpisů. V souvislosti se zpracováním osobních údajů vám náleží níže specifikovaná
                        práva, která můžete dle vašeho uvážení využít.Máte právo přístupu k osobním údajům,
                        právo na opravu osobních údajů, právo požádat správce (EKO-KOM, a.s.) nebo
                        zpracovatele (HAVAS WORLDWIDE PRAGUE, a.s.) o vysvětlení a odstranění závadného
                        stavu (např. blokování/omezení zpracování, provedení opravy, doplnění nebo
                        likvidace/výmaz osobních údajů). Máte též právo na přenositelnost automatizovaně
                        zpracovávaných osobních údajů (tj. získat osobní údaje od správce a předat je jinému
                        správci).Dále máte právo po správci nebo zpracovateli požadovat náhradu majetkové i
                        nemajetkové újmy způsobené zpracováním osobních údajů a právo podat stížnost u Úřadu
                        pro ochranu osobních údajů Pplk. Sochora 27, PSČ 170 00, Praha 7, www.uoou.cz.</p>

                    <p>PROTI ZPRACOVÁNÍ OSOBNÍCH ÚDAJŮ PRO ÚČELY PŘÍMÉHO MARKETINGU MŮŽETE KDYKOLI VZNÉST
                        NÁMITKU A VAŠE OSOBNÍ ÚDAJE BUDOU OKAMŽITĚ VYMAZÁNY!PROTI ZPRACOVÁNÍ OSOBNÍCH ÚDAJŮ
                        Z DŮVODU OPRÁVNĚNÝCH ZÁJMŮ SPRÁVCE MŮŽETE KDYKOLI VZNÉST NÁMITKU A OSOBNÍ ÚDAJE
                        BUDOU VYMAZÁNY, pokud správce neprokáže závažné oprávněné důvody pro zpracování,
                        které převažují nad VAŠIMI zájmy nebo právy.</p>

                    <p>V souvislosti s výkonem svých práv a v případě jakýchkoli otázek či informací ohledně
                        nakládání s osobními údaji, prosím, kontaktujte nás na tel. +420220397600 nebo
                        písemně na recepce@havas.com.
                        Tyto zásady ochrany osobních údajů jsou platné od 29. 7. 2020.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cookies-consent" id="cookies-consent-general">
        <div class="cookies-consent__body">
            <div class="cookies-consent__col-100 cookies-consent__title">
                NASTAVENÍ SOUBORŮ COOKIE
            </div>
    
            <div class="cookies-consent__col-80 cookies-consent__col-split cookies-consent__text">
                <p>
                    Jménem společnosti EKO-KOM, a.s. vás chceme požádat o souhlas s používáním souborů cookies pro účely výkonu, sociálních médií a reklamy. Sociální média a reklamní soubory cookie třetích stran používáme k tomu, abychom vám mohli nabízet funkce sociálních médií a přizpůsobenou reklamu. Další informace nebo doplnění nastavení získáte kliknutím na tlačítko "Více informací" nebo otevřením nabídky "Nastavení cookies" v dolní části webové stránky. Podrobnější informace o souborech cookie a zpracování vašich osobních údajů najdete v našich <a href="#" onclick="legalCookies();return false;">Zásadách ochrany osobních údajů</a> a používání souborů cookie. Souhlasíte s používáním souborů cookie a zpracováním souvisejících osobních údajů?
                </p>
            </div>

            <div class="cookies-consent__col-20 cookies-consent__button-group center">
                <button class="buttonCookiesFull" onclick="acceptAllCookies()">Ano, souhlasím</button>
                <button class="buttonCookies" onclick="moreInfo()">Více informací</button>
            </div>
    
            <div class="cookies-consent__col-100 cookies-consent__bottom-line">
                <p>
                    Nastavení si můžete kdykoliv změnit v položce nastavení vašeho prohlížeče.
                </p>
            </div>
        </div>
    </div>
    
    
    <div class="cookies-consent" id="cookies-consent-settings">
        <div class="cookies-consent__body">
            <div class="cookies-consent__col-100 cookies-consent__title">
                NASTAVENÍ SOUBORŮ COOKIE
            </div>
    
            <div class="cookies-consent__col-25 cookies-consent__config">
                <label for="cookies-consent-settings-1">
                    <input type="checkbox" name="" value="1" id="cookies-consent-settings-1" checked="checked" disabled="disabled"> Funkční
                </label>
                <p>
                    Tyto soubory cookie jsou nutné pro základní funkce stránky, a jsou proto vždy povolené. Mezi ně patří soubory cookie, které stránce umožňují si vás zapama- tovat při procházení stránky v rámci jedné relace nebo, pokud o to požádáte, mezi relacemi. Pomáhají se zabezpečením.
                </p>
            </div>
    
            <div class="cookies-consent__col-25 cookies-consent__config">
                <label for="cookies-consent-settings-2">
                    <input type="checkbox" name="" value="1" id="cookies-consent-settings-2"> Výkon
                </label>
                <p>
                    Soubory cookie nám pomáhají vylepšovat funkce stránek sledováním využití této webové stránky. V některých případech soubory cookie zrychlují zpracování vašeho požadavku a umožňují nám zapamatovat si vaše vybrané předvolby na stránce. Pokud soubory cookie zakážete, může se tím zhoršit přesnost našich doporučení a zpomalit funkčnost stránek.
                </p>
            </div>
    
            <div class="cookies-consent__col-50 cookies-consent__col-split cookies-consent__config ">
                <label for="cookies-consent-settings-3">
                    <input type="checkbox" name="" value="1" id="cookies-consent-settings-3"> Sociální média a reklamy
                </label>
                <p>
                    Díky souborům cookie sociálních médií se můžete připojit ke svým sociálním sítím a jejich prostřednictvím sdílet obsah z naší stránky. Reklamní soubory cookie (třetích stran) shro- mažďují informace pro lepší přizpůsobení reklamy vašim zájmům, a to na našich stránkách i mimo ně. V některých případech tyto soubory cookie zpracovávají vaše osobní údaje. Pokud chcete získat více informací o zpracování osobních údajů, přečtěte si naše <a href="#" onclick="legalCookies();return false;">Zásady ochrany osobních údajů</a> a používání souborů cookie. Pokud zakážete soubory cookie, mohou se zobrazovat reklamy, které méně souvisejí s vašimi zájmy, nebo nebudete moci účinně používat odkazy na Facebook či Instagram anebo nebudete moci sdílet obsah na sociálních médiích.
                </p>
            </div>
    
            <div class="cookies-consent__col-80 cookies-consent__bottom-line">
                <p>
                    Nastavení si můžete kdykoliv změnit v položce nastavení vašeho prohlížeče.
                </p>
            </div>
            <div class="cookies-consent__col-20 cookies-consent__bottom-line center">
                <button class="buttonCookiesFull" onclick ="acceptCookies()">Hotovo</button>
            </div>
        </div>
    </div>

    <div class="map-wrapper">
        <div id="map" class="map"></div>
        <div id="noMarkers">
            <button class="buttonClose" onclick="closeNoMarkers()"></button>
            <h2>Na mapě se<br>nezobrazuje<br>sběrné místo,<br>ale na ulici je?</h2>
            <button class="joinUs" onclick="joinUs()">ZAPOJTE SE</button>
            <p>a pomozte nám<br>ho lokalizovat.</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <script src="/js/app.js"></script>
    <script src="/js/history.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.41&key=AIzaSyDy9oVwZda-37mV6WVGJ1qdVD8erpOftE8&callback=initMap&language=cs&libraries=geometry"></script>

</body>

</html>

<script>
    Vue.component("v-select", VueSelect.VueSelect)
    Vue.prototype.$global = this

    const vueMainMenu = new Vue({
        el: '#mainMenu',
        data: {
            options: [{
                text: 'VYHLEDAT MÍSTO',
                title: 'VYHLEDAT MÍSTO',
                desc: 'vyhledání kontejnerů\npodle adresy',
                panel: '#panelSearch',
                slug: 'vyhledat-misto',
                panelPos: '4%',
                panelPosMobile: '5%'
            }, {
                text: 'FILTROVÁNÍ',
                title: 'FILTROVÁNÍ',
                desc: 'vyhledání kontejneru\npodle druhu odpadu',
                panel: '#panelFilter',
                slug: 'filtrovani',
                panelPos: '14%',
                panelPosMobile: '5%'
            },
            {
                text: 'KAM PATŘÍ',
                title: 'KAM PATŘÍ',
                desc: 'různé druhy odpadu a jak\ns nimi naložit',
                panel: '#panelInfo',
                slug: 'kam-patri',
                panelPos: '100px',
                panelPosMobile: '20px'
            },
            {
                text: 'ZAPOJTE SE',
                title: 'ZAPOJTE SE',
                desc: 'tvořte mapu s námi!',
                panel: '#panelUsers',
                slug: 'zapojte-se',
                panelPos: '14%',
                panelPosMobile: '14%'
            }, {
                text: 'O NÁS',
                title: 'O NÁS',
                desc: '',
                panel: '#panelAbout',
                slug: 'o-nas',
                panelPos: '14%',
                panelPosMobile: '14%'
            }]
        },
        methods: {
            processSelection: (e, option) => {
                document.querySelector('.panel__headerTitle').innerHTML = option.title
                this.switchPanel(option.panel, option.panelPos, option.panelPosMobile)
                if (e !== undefined) {
                    this.pushState(vueMainMenu.options.findIndex(x => x.slug === option.slug), option.slug)
                }
            }
        }
    });

    const vueNav = new Vue({
        el: '#nav',
        data: {
            flag: false
        },
        methods: {
            processBack: () => {
                this.switchBack()
            },
            burger: () => {
                let panel = document.getElementById('panel');
                let navHamburger = document.getElementById('nav-hamburger');
                panel.classList.toggle('panel--active');
            }
        }
    });

    const vueHeader = new Vue({
        el: '#header',
        data: {
            flag: false
        },
        methods: {
            processBack: () => {
                this.switchBack()
            },
            burger() {
                this.flag = !this.flag
                let el = this.$global.document.querySelector('#panelContent')
                if (this.flag == false) {
                    this.$global.switchBack()
                }
                el.style.display = this.flag ? "block" : "none";
            }
        }
    });

    const vuePanelSearch = new Vue({
        el: "#panelSearch",
        data: {
            options: []
        },
        methods: {
            onInput(input) {
                fetch(`maps/search/${escape(input.place_id)}`)
                    .then(res => res.json().then(json => (this.$global.findPlace(json))))

                let panel = this.$global.document.getElementById('panel');
                let navHamburger = this.$global.document.getElementById('nav-hamburger');
                panel.classList.toggle('panel--active');
            },
            onSearch(search, loading) {
                if (search.length < 3) {
                    return
                }
                loading(true);
                this.search(loading, search, this);
            },
            search: _.debounce((loading, search, vm) => {
                fetch(
                    `maps/search?q=${encodeURIComponent(search)}`
                ).then(res => res.json().then(json => (vm.options = json)));
                loading(false);
            }, 350)
        }
    });

    const vuePanelFilter = new Vue({
        el: '#panelFilter',
        data: {
            options: [
                {
                    title: 'sklo',
                    isActive: false,
                    index: 0,
                    img: 'assets/sklo.svg'
                },
                {
                    title: 'plasty',
                    isActive: false,
                    index: 1,
                    img: 'assets/plasty.svg'
                },
                {
                    title: 'papír',
                    isActive: false,
                    index: 2,
                    img: 'assets/papir.svg'
                },
                {
                    title: 'nápojové kartony',
                    isActive: false,
                    index: 3,
                    img: 'assets/napojovekartony.svg'
                }, {
                    title: 'kovy',
                    isActive: false,
                    index: 4,
                    img: 'assets/kovy.svg'
                },
                {
                    title: 'sběrný dvůr',
                    isActive: false,
                    index: 5,
                    img: 'assets/sbernydvur.svg'
                }
            ]
        },
        methods: {
            selectFilter: (option) => {
                option.isActive = !option.isActive
                this.filterMarkers(option.index, option.isActive)
            }
        }
    });

    const vuePanelInfo = new Vue({
        el: '#panelInfo',
        data: {
            content: ""
        },
        mounted() {
            fetch('/info')
                .then((res) => res.text()).then((data) => {
                    this.content = data
                });
        }
    });
</script>